table{
    caption-side: bottom;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    font-family: verdana;
    font-size: 12px;
}

caption{
    font-family: verdana;
    font-size: 15px;
    text-decoration: underline;
    color: rgb(192, 27, 27);
}

td{
    
    background-color: darkseagreen;
    padding: 15px;
    border: 0.5% solid white;
    color: blue;
}




