table{
    caption-side: bottom;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    font-family: verdana;
    font-size: 12px;
    border-collapse: collapse;
    border: 1px solid;
}

caption{
    font-family: verdana;
    font-size: 12px;
    text-decoration: underline;
    
}

td{
   
    padding: 10px;
}

tr:nth-child(even) {background-color: khaki;}


th{
    background-color: #cc6600;
    padding: 10px;
}




